* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

#navbar > ul {
  list-style: none;
  display: flex;
}

#navbar {
  background-color: green;
  width: 223vw;
}

#navbar > ul > li {
  margin-inline: 10px;
  padding-inline: 30px;
  color: white;
}

#navbar > ul > li:hover {
  background-color: #ecf0f1;
  color: green;
}

#options {
  padding: 10px;
  padding-bottom: 30px;
  background-color: #ecf0f1;
  width: 222vw;
  height: 100px;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu > div {
  padding: 10px;
  cursor: pointer;
}

.onhover:hover {
  background-color: #d0d8e0aa;
  transition: 0.5;
}

#active-cell {
  background-color: white;
  padding: 2px 20px;
}

.active-option {
  background-color: #d0d8e0;
}

.container {
  width: fit-content;
  height: fit-content;
}

#header {
  display: flex;
  position: sticky;
  top: 180px;
  z-index: 3;
  background-color: whitesmoke;
}

#header > b {
  min-width: 110px;
  border: 1px solid #dfe4e9;
  text-align: center;
  font-family: sans-serif, inter;
  font-weight: lighter;
  font-size: small;
  color: #454545;
  padding: 3px;
}

#header > p {
  min-width: 50px;
  border: 1px solid #dfe4e9;
  text-align: center;
  font-family: sans-serif, inter;
  font-weight: lighter;
  font-size: small;
  color: #454545;
  padding: 3px;
}

.row {
  display: flex;
}

.row > div {
  width: 110px;
  height: 30px;
  border: 1px solid #dfe4e9;
  padding: 3px;
  overflow-y: scroll;
}

.row > b {
  min-width: 50px;
  border: 1px solid #dfe4e9;
  text-align: center;
  font-family: sans-serif, inter;
  font-weight: lighter;
  font-size: small;
  color: #454545;
  padding: 3px;
  position: sticky;
  left: 0;
  background-color: whitesmoke;
}
